doctype html
html
  head
    title Application Form
  body
    h1 Student Application Form
    form(action="/application" method="POST")
      div
        label(for="name") Name:
        input(type="text" name="name" required)
      div
        label(for="email") Email:
        input(type="email" name="email" required)
      div
        label(for="course") Course:
        input(type="text" name="course" required)
      div
        label(for="dob") Date of Birth:
        input(type="date" name="dob" required)
      div
        label(for="address") Address:
        textarea(name="address" required)
      div
        button(type="submit") Submit
